div {
	display: flex;
	flex-flow: column;
}
form {
	display: flex;
	flex-flow: column;
}
span > form {
	display: inline;
}

body > div > div {
	padding: 1em;
}

div.room-data-dialog {
	flex-flow: row;
}
div.room-data-dialog > *:nth-child(1) {
	flex-grow: 1;
}
div.room-data-dialog > *:nth-child(2) {
	flex-grow: 1;
}
div.room-data-dialog > *:nth-child(3) {
	flex-grow: 1;
}
div.option-config {
	flex-flow: row;
}
div.dropdown-config > span:not(:first-child) > textarea {
	display: block;
}
div.ast {
	display: block;
}
div.ast > select {
	display: block;
}
div.ast-pair {
	flex-flow: row;
}
div.ast-if-then-else {
	display: table;
}
div.ast-if-then-else > div {
	display: table-row;
}
div.ast-if-then-else > div > *{
	display: table-cell;
}
div.option-select {
	flex-flow: row;
	flex-wrap: wrap;
}
div.option-select > span > * {
	margin: 2px;
}
